@charset "utf-8";
/* CSS Document */
/*ҳ湫Ԫʽʼ*/
/*¼ҳʽʼ*/
.wrapper {
	background-color: #f5f5f5;
	width: 100%;
	min-width: 1190px;
	color:#666;
}
.login-top {
	height: 480px;
	width: 100%;
}
.login-topBg {
	background: url(../images/login_img.jpg) center center no-repeat #fff;
	height: 480px;
	min-width: 1190px;
}
.login-topBg1 {
	
	height: 480px;
}
.login-topTab {
	
	height: 84px;
	width: 100%;
	text-align: center;
}
.login-topTabBg {
	width: 1190px;
	margin: 0px auto;
}
.login-topTab-logo {
	float: left;
	padding: 18px 0px;
}
.login-topTab-logo img {
	display: inline-block;
}
.login-topTab-right {
	float: right;
	padding: 35px 0px;
}
span.login_text_right_language {
	padding-right: 2px;
	padding-left: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}
span.login_text_right_language img {
	vertical-align: middle;
	margin-left: 5px;
	display: inline-block;
}
.login-topStyle {
	color: #ffffff;
	font-family: ;
	width: 1190px;
	position: relative;
	margin: 0px auto;
}
.login-topStyle1 {
	display: inline-block;
	padding-top: 90px;
	padding-left: 172px;
}
span.loginStyle1 {
	font-size: 16px;
	line-height: 24px;
	display: block;
	font-family: "΢ź";
}
span.loginStyle2 {
	display: inline-block;
	font-size: 72px;
	font-family: "΢ź";
}
.login-topStyle2 {
	text-align: center;
	padding: 34px 0px;
}
a.btnStyle {
	font-size: 20px;
	line-height: 30px;
	width: 300px;
	border-radius: 5px;
	display: inline-block;
}
a.btnStyle.btnLogin {
	background-color: #3598db;
	padding: 10px 0px;
	margin-right: 120px;
}
a.btnStyle.btnLogin:hover {
	background-color: #3ea1e3;
}
a.btnStyle.btnregister {
	border: 1px solid #ffffff;
	padding: 8px 0px;
	color: #ffffff;
}
a.btnStyle.btnregister:hover {
	background-color: rgba(255,255,255,0.3);
}
/*¼ʽʼ*/
.login-topStyle3 {
	background: url(../images/login_bg_white.png) center center repeat;
	width: 228px;
	height: auto;
	overflow: hidden;
	top: 34px;
	right: 50px;
	position: absolute;
	border-radius: 5px;
	padding: 22px 30px;
}
.login-topStyle3 h3 {
	font-size: 22px;
	line-height: 33px;
	color: #ffffff;
	padding-bottom: 22px;
	font-family: "΢ź";
}
.ui-form-item {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
}
.ui-form-item.loginUsername input[type="username"], .ui-form-item.loginPassword input[type="password"] {
	width: 100%;
	border: none;
	
	border: 1px solid #ffffff;
	padding: 8px 0px 8px 5px;
	
}
.ui-form-item.loginPassword {
}
.ui-form-item.loginPassword input[type="password"] {
}
.login_reme {
	padding-bottom: 8px;
	margin-top: 20px\0;
}
.login_reme a.reme1 {
	font-size: 12px;
	line-height: 18px;
	vertical-align: top;
}
.login_reme a.reme2 {
	font-size: 12px;
	vertical-align: top;
	margin-left: 97px;
	color: #ffffff;
}
span.error_xinxi {
	font-size: 14px;
	line-height: 22px;
}
a.btn-Login, a.btn-register {
	width: 228px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	padding: 8px 0px;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}
a.btn-Login {
	color: #3598db;
	background-color: #ffffff;
}
a.btn-Login:hover {
	opacity: 0.8;
}
a.btn-register {
	color: #ffffff;
	background-color: #3598db;
}
a.btn-register:hover {
	background-color: #3ea1e3;
}
/*¼ʽ*/
/*¼ҳģʽʼ*/
.loginCen {
	width: 100%;
	text-align: center;
}
.login-center {
	background: url(../images/login-center-bg.png) center center no-repeat;
	width: 1190px;
	height: 140px;
	margin: 20px auto 0px auto;
	position: relative;
}
.loginCenter-moudle {
	padding: 0px 0px 0px 40px;
	overflow: hidden;
	height: 140px;
	font-family: ΢ź;
}
.loginCenter-moudleLeft {
	float: left;
	margin-top: 29px;
	margin-right: 28px;
	font-weight: bold;
}
.loginCenter-moudleLeft span {
	display: block;
}
.loginCenter-moudleLeft span.number {
	color: #fb5016;
	font-size: 48px;
	line-height: 72px;
}
.loginCenter-moudleLeft span.text {
	font-size: 14px;
	line-height: 22px;
	color: #4c4c4c;
}
.loginCenter-moudleRight {
	overflow: hidden;
	float: left;
	width: 992px;
	height: 140px;
}
.loginCenter-moudleRight a.loginCenter-mStyle {
	width: 335px;
	position: relative;
	top: 50%;
	margin-top: -35px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle1 {
	width: 312px;
	-moz-width: 312px;
	float: left;
	margin-right: 5px;
}
.loginCenter-moudleRight a span.moudle-img {
	height: 64px;
	width: 64px;
	float: left;
	padding-right: 5px;
}
.loginCenter-moudleRight a span.moudle-img img {
}
.loginCenter-moudleRight a span.moudle-text {
	display: inline-block;
	-moz-width: 242px;
	-webkit-width: 262px;
	text-align: left;
	position: relative;
	top: 50%;
	margin-top: 8px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3 span.moudle-text {
	margin-top: 4px;
}
.loginCenter-moudleRight a span.moudle-text .moudle-text1 {
	font-size: 18px;
	line-height: 26px;
	display: block;
	color: #767676;
	text-align: left;
		font-family: ΢ź;
}
.loginCenter-moudleRight a span.moudle-text .moudle-text2 {
	font-size: 14px;
		font-family: ΢ź;
	line-height: 18px;
	color: #969696;
}
.loginCenter-moudleRight a span.moudle-text .moudle-text3 {
	font-size: 12px;
	line-height: 22px;
	display: block;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle2 {
	float: left;
	margin-right: 5px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle1.moudle1 span.moudle-text {
	top: -19px;
	left: -60px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle2.moudle2 span.moudle-text {
	top: -37px;
	left: -40px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3.moudle3 span.moudle-text {
	top: -19px;
	left: -56px;
}
.loginCenter-moudleRight a.loginCenter-mStyle.loginCenter-moudle3 {
	float: left;
}
/*ʾϢʽ*/
.error-information {
	color: #d02e50;
	font-size: 12px;
	padding-bottom: 3px;
}
/*¼ҳģʽ*/
/*¼ҳʽ*/
/*footerʽ*/
.footer {
	height: 60px;
	background-color: #e1e1e1;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	line-height: 60px;
	min-width: 1190px;
}
.footer span.footerText {
	font-size: 14px;
	font-family: ;
	color: #606060;
	display: inline-block;
}