<extend name="Layout::index" />
<block name="content">
   <div id="content" class="white">
            <h1><img src="__PUBLIC__/images/icons/posts.png" alt="" /> 统计</h1>
	<div class="bloc">
	    <div class="title">
	        用户统计
	    </div>
	    <div class="content">
	        <table>
	            <thead>
	                <tr>
	                    <th><input type="checkbox" class="checkall"/></th>
	                    <th>编号</th>
	                    <th>部门</th>
	                    <th>人数</th>
	                    <th>负责人</th>
	                    <th>时间</th>
	                </tr>
	            </thead>
	            <tbody>
	                 <tr>
	                 	<th><input type="checkbox" class="checkall"/></th>
	                    <td>1</td>
	                    <td>财务</td>
	                    <td>12</td>
	                    <td>班长</td>
	                    <td>2016年9月</td>
	                </tr>
	                <tr>
	                	<th><input type="checkbox" class="checkall"/></th>
	                    <td>1</td>
	                    <td>财务</td>
	                    <td>12</td>
	                    <td>班长</td>
	                    <td>2016年9月</td>
	                </tr>
	            </tbody>
	        </table>
	        <div class="pagination">
	            <a href="#" class="prev">«</a>
	            <a href="#">1</a>
	            <a href="#" class="current">2</a>
	            ...
	            <a href="#">21</a>
	            <a href="#">22</a>
	            <a href="#" class="next">»</a>
	        </div>
	    </div>
	</div>
</div>
</block>